API_ID=20450648
API_HASH=177973c53d36a5db484cabfce1b9bf2f
BOT_TOKEN=8581256150:AAH13BcCkufIfddeQ7gruw-ghJhdDTOZq8w
LOG_GROUP_ID=-1002869205475
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7852340648
STRING_SESSION=BQFl1BgAusw2CiNv4tNSChqbA0EYBrg3E7-C0LXIuFao-q9P2cKgcqBVfL03TRAUKhkWSYA3UehOGdOF0NaOQBSfGsKo6LUbRopOvaD9en4bxIHjjKtJjreP4N2dSbNYvV5giim866KgtWmPpDZHb6lQzgmS9nsawC3BsCtXI5el4vmk8WSPX1v94HedCY8jTs2DrpHOUg22NMsJ23uXAY2EATJWx-1SvhWhvHxD-5-PsGbUi2Abe2nCWSpYzUrZ_PjKKI51obfrSJg9OK4nRY-tfUHOamKGhbRnEHD_GGebCZak8bsq-RlA0KQMSMnOVG-5vOTXt7TJM3GQSP3M1aBbXwIuRQAAAAHf_DKWAA
